<%- include('partials/header') %>
  <div class="container-fluid p-3">
    <div class="container-fluid bg-light px-3 py-3">
      <h2><%=course%> veren hocalar:</h2>
      <div class="row">

        <%instructors.forEach(function(instructor) {%>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="card mt-3">
              <div class="card-header text-center">
                <h5 class="card-title m-0"><a href="/instructors/<%=instructor.name%>"><%=instructor.name%></a></h5>
              </div>
              <div class="card-body pb-1 pr-0">

                <div class="row">
                  <div class="col-5">
                    <h5 class="my-auto">genel puan</h5>
                  </div>
                  <div class="col-6">
                    <div style="height: 20px;" class="progress row mt-1">
                      <div class="progress-bar" role="progressbar" style="width: <%=instructor.overallAvg%>%;"><strong>%<%=instructor.overallAvg%></strong></div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row mt-2">
                  <div class="col-5">
                    <p>ders anlatımı</p>
                  </div>
                  <div class="col-6">
                    <div style="" class="progress row mt-1">
                      <div class="progress-bar" role="progressbar" style="width: <%=instructor.lecturingAvg%>%;"><strong>%<%=instructor.lecturingAvg%></strong></div>
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-5">
                    <p>öğrenciyle iletişim</p>
                  </div>
                  <div class="col-6">
                    <div style="" class="progress row mt-1">
                      <div class="progress-bar" role="progressbar" style="width: <%=instructor.studentRelAvg%>%;"><strong>%<%=instructor.studentRelAvg%></strong></div>
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-5">
                    <p>sınav zorluğu</p>
                  </div>
                  <div class="col-6">
                    <div style="" class="progress row mt-1">
                      <div class="progress-bar" role="progressbar" style="width: <%=instructor.difficultyAvg%>%;"><strong>%<%=instructor.difficultyAvg%></strong></div>
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-5">
                    <p>notlandırma</p>
                  </div>
                  <div class="col-6">
                    <div style="" class="progress row mt-1">
                      <div class="progress-bar" role="progressbar" style="width: <%=instructor.gradingAvg%>%;"><strong>%<%=instructor.gradingAvg%></strong></div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        <%});%>




      </div>
    </div>
  </div>








<%- include('partials/footer') %>
