<%- include('partials/header') %>

<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="/"><img src="/images/owl.png" alt="icon-img"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto mr-3">
      <%if(!isAuth) {%>
      <li class="navbar-item"><a class="nav-link" href="/login?page=instructors/<%=instructor.name%>">giriş</a></li>
      <li class="navbar-item"><a class="nav-link" href="/register">üye ol</a></li>
      <%}%>
    </ul>

    <form action="/index" method="get" class="form-inline navbar-search">
      <input class="form-control mr-sm-2" type="search" name="search" placeholder="ee202..." autocomplete="off">
      <button class="btn btn-outline-light my-2 my-sm-0" name="page" value=1 type="submit">ara</button>
    </form>
    <%if(isAuth) {%>
      <form action="/logout" method="post" class="form-inline ml-3">
        <button type="submit" class="btn btn-outline-dark">çıkış</button>
      </form>
      <%}%>
  </div>


</nav>

<%- include('partials/alerts') %>

      <div class="container-fluid review-container py-2">

        <section class="write-review bg-light mb-5" id="write-review">

          <%if(instructor.reviews.length===0 || instructor.reviews==null) {%>
          <div class="container-fluid pt-3 pb-5 mx-5 mt-4">
            <div class="row">
              <div class="col-lg-4 col-10">
                <h1><%=instructor.name%></h1>
              </div>
              <div class="col-7 pr-0">
                <br>
                <h1 style="float:right; font-size:1.3rem;" class="number-of-reviews">0 kişi değerlendirdi</h1>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-4 col-md-10">
                <div class="row">
                  <div class="col-lg-5 col-md-7 col-5">
                    <h5 class="rating-type">genel puan</h5>
                  </div>
                  <div class="progress main-progress col-lg-6 col-md-5 col-6 px-0">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;"><strong>%50</strong></div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-lg-5 col-md-7 col-5">
                    <p class="rating-type">ders anlatımı</p>
                  </div>
                  <div class="progress col-lg-6 col-md-5 col-6 px-0">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;">%50</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-5 col-md-7 col-5">
                    <p class="rating-type">öğrenciyle iletişim</p>
                  </div>
                  <div class="progress col-lg-6 col-md-5 col-6 px-0">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;">%50</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-5 col-md-7 col-5">
                    <p class="rating-type">notlandırma</p>
                  </div>
                  <div class="progress col-lg-6 col-md-5 col-6 px-0">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;">%50</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-5 col-md-7 col-5">
                    <p class="rating-type">sınav zorluğu</p>
                  </div>
                  <div class="progress col-lg-6 col-md-5 col-6 px-0">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;">%50</div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-5 col-md-7 col-5">
                    <p class="rating-type">yoklama alıyor mu?</p>
                  </div>
                  <p class="rating-type"><strong>-</strong></p>
                </div>
                <hr>


              </div>

              <div class="col-lg-7 col-11">
                <div class="row">
                  <div class="card first-review-card">
                    <div class="card-body review-card">
                      <h5 class="card-title review-title">değerlendirme yok 😔</h5>
                      <p class="card-text">bu hocayı henüz kimse değerlendirmedi. ilk değerlendiren sen olmak istiyorsan aşağıdaki butona tıklayabilirsin!</p>
                      <%if(isAuth){%>
                      <form action="/rate" method="get">
                        <button type="submit" name="instructor" value="<%=instructor.name%>" class="btn btn-primary review-button">hocayı değerlendir</button>
                      </form>
                      <%}else {%>
                      <span class="d-inline-block disabledButton" data-trigger="hover" data-toggle="popover" data-content="değerlendirmek için giriş yapmanız gerekiyor">
                        <button class="btn btn-primary review-button" style="pointer-events: none;" type="button" disabled>hocayı değerlendir</button>
                      </span>
                      <%}%>

              </div>
            </div>
          </div>

        </div>
    </div>
</div>
<%} else {%>


                      <%let attendance = "hayır";%>
                      <%let attendancePercentage;%>

                      <%if(instructor.numberOfYes>instructor.reviews.length/2) {%>
                      <%attendance = "evet";%>
                      <%attendancePercentage = parseInt((instructor.numberOfYes/instructor.reviews.length)*100);%>
                      <%} else{%>
                      <%attendancePercentage = parseInt(((instructor.reviews.length-instructor.numberOfYes)/instructor.reviews.length)*100);%>
                      <%}%>

  <%if(instructor.overallAvg>66) {%>
                      <%overallAvgClass = "bg-success";%>
                      <%} else if(instructor.overallAvg<=66 && instructor.overallAvg>33){%>
                      <%overallAvgClass = "bg-warning";%>
                      <%} else{%>
                      <%overallAvgClass = "bg-danger";%>
                      <%}%>
  <%if(instructor.lecturingAvg>66) {%>
                      <%lecturingAvgClass = "bg-success";%>
                      <%} else if(instructor.lecturingAvg<=66 && instructor.lecturingAvg>33){%>
                      <%lecturingAvgClass = "bg-warning";%>
                      <%} else{%>
                      <%lecturingAvgClass = "bg-danger";%>
                      <%}%>
  <%if(instructor.studentRelAvg>66) {%>
                      <%studentRelAvgClass = "bg-success";%>
                      <%} else if(instructor.studentRelAvg<=66 && instructor.studentRelAvg>33){%>
                      <%studentRelAvgClass = "bg-warning";%>
                      <%} else{%>
                      <%studentRelAvgClass = "bg-danger";%>
                      <%}%>
  <%if(instructor.difficultyAvg>66) {%>
                      <%difficultyAvgClass = "bg-danger";%>
                      <%} else if(instructor.difficultyAvg<=66 && instructor.difficultyAvg>33){%>
                      <%difficultyAvgClass = "bg-warning";%>
                      <%} else{%>
                      <%difficultyAvgClass = "bg-success";%>
                      <%}%>
  <%if(instructor.gradingAvg>66) {%>
                      <%gradingAvgClass = "bg-success";%>
                      <%} else if(instructor.gradingAvg<=66 && instructor.gradingAvg>33){%>
                      <%gradingAvgClass = "bg-warning";%>
                      <%} else{%>
                      <%gradingAvgClass = "bg-danger";%>
                      <%}%>





<div class="container-fluid pt-3 pb-5 mx-3 mt-4">
  <div class="row">
    <div class="col-lg-4 col-10">
      <h1 class="instructor-title"><%=instructor.name%></h1>
                    </div>
                    <div class="col-7 pr-0">
                      <br>
                      <h1 style="float:right; font-size:1.3rem;" class="number-of-reviews"><%=instructor.reviews.length%> kişi değerlendirdi</h1>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-lg-4 col-md-10">
                      <div class="row">
                        <div class="col-lg-5 col-md-7 col-5">
                          <h5 class="rating-type">genel puan</h5>
                        </div>
                        <div class="progress main-progress col-lg-6 col-md-5 col-6 px-0">
                          <div class="progress-bar <%=overallAvgClass%>" role="progressbar" style="width: <%=instructor.overallAvg%>%;"><strong>%<%=instructor.overallAvg%></strong></div>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-lg-5 col-md-7 col-5">
                          <p class="rating-type">ders anlatımı</p>
                        </div>
                        <div class="progress col-lg-6 col-md-5 col-6 px-0">
                          <div class="progress-bar <%=lecturingAvgClass%>" role="progressbar" style="width: <%=instructor.lecturingAvg%>%;">%<%=instructor.lecturingAvg%></div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-5 col-md-7 col-5">
                          <p class="rating-type">öğrenciyle iletişim</p>
                        </div>
                        <div class="progress col-lg-6 col-md-5 col-6 px-0">
                          <div class="progress-bar <%=studentRelAvgClass%>" role="progressbar" style="width: <%=instructor.studentRelAvg%>%;">%<%=instructor.studentRelAvg%></div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-5 col-md-7 col-5">
                          <p class="rating-type">notlandırma</p>
                        </div>
                        <div class="progress col-lg-6 col-md-5 col-6 px-0">
                          <div class="progress-bar <%=gradingAvgClass%>" role="progressbar" style="width: <%=instructor.gradingAvg%>%;">%<%=instructor.gradingAvg%></div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-5 col-md-7 col-5">
                          <p class="rating-type">sınav zorluğu</p>
                        </div>
                        <div class="progress col-lg-6 col-md-5 col-6 px-0">
                          <div class="progress-bar <%=difficultyAvgClass%>" role="progressbar" style="width: <%=instructor.difficultyAvg%>%;">%<%=instructor.difficultyAvg%></div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-5 col-md-7 col-5">
                          <p class="rating-type">yoklama alıyor mu?</p>
                        </div>
                        <p class="rating-type"><strong><%=attendance%></strong> (%<%=attendancePercentage%>)</p>
                      </div>
                      <hr>

                      <%if(isAuth) {%>
                      <%if(!hasAlreadyReviewed) {%>
                      <form action="/rate" method="get">
                        <button type="submit" name="instructor" value="<%=instructor.name%>" class="btn btn-primary review-button">hocayı değerlendir</button>
                      </form>
                      <%} else {%>
                      <p style="color: green;"><i class="far fa-check-circle"></i> bu hocayı değerlendirdiniz</p>
                      <%}%>

                      <%} else {%>
                      <span class="d-inline-block disabledButton" data-trigger="hover" data-toggle="popover" data-content="değerlendirmek için giriş yapmanız gerekiyor">
                        <button class="btn btn-primary review-button" style="pointer-events: none;" type="button" disabled>hocayı değerlendir</button>
                      </span>
                      <%}%>


                    </div>
                    <div class="col-lg-7 col-11">





                      <%if(hasAlreadyReviewed) {%>
                      <div class="row mb-3">
                        <div style="width: 100%;" class="card border-primary">
                          <div class="card-body review-card">
                            <p class="date"><%=initialReview.date%> <a href="#" data-toggle="modal" data-target="#editModal"><i style="float: right;" class="far fa-edit"></i></a></p>
                            <%=initialReview.text%>
                            <span class="review-author"><strong>ders: </strong><%=initialReview.course%> <span class="ml-2"><strong>yazar: </strong></span><%=initialReview.author%></span>

                          </div>
                        </div>
                      </div>

                      <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">düzenle</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <form action="/update" method="post">
                            <div class="modal-body">

                              <div class="form-group">
                                <textarea name="reviewText" class="form-control mt-1" id="rating-textarea" rows="8" placeholder="değerlendirme" autocomplete="off" required><%=initialReview.text%></textarea>
                              </div>

                              <div class="form-group">
                                <select name="course" class="custom-select form-control" id="courseSelect">

                                  <option selected value="<%=initialReview.course%>"><%=initialReview.course%></option>
                                  <%instructor.courses.forEach(function(course){%>
                                    <%if(course.title+course.code != initialReview.course) {%>
                                      <option value="<%=course.title+course.code%>"><%=course.title+course.code%></option>
                                    <%}%>
                                  <%});%>
                                  <%if(initialReview.course != "diğer") {%>
                                    <option value="diğer">diğer</option>
                                  <%}%>
                                </select>
                              </div>

                              <div class="form-group">
                                <select name="author" class="custom-select form-control" id="authorSelect">
                                  <%if(initialReview.author == "anonim") {%>
                                    <option selected value="1">anonim</option>
                                    <option value="2">ismim gözüksün</option>
                                  <%} else {%>
                                    <option value="1">anonim</option>
                                    <option selected value="2">ismim gözüksün</option>
                                  <%}%>
                                </select>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">çıkış</button>
                              <input type="hidden" name="userID" value="<%=initialReview.userID%>"/>
                              <button type="submit" name="instructor" value="<%=instructor.name%>" class="btn btn-primary">kaydet</button>
                            </div>
                            </form>
                          </div>
                        </div>
                      </div>
                      <%}%>

                      <%instructor.reviews.slice().reverse().forEach(function(review) {%>
                      <%if(!hasAlreadyReviewed || review!=initialReview) {%>
                      <div class="row">
                        <div style="width: 100%;" class="card">
                          <div class="card-body review-card">

                            <p class="date"><%=review.date%></p>
                            <%=review.text%>
                            <span class="review-author"><strong>ders: </strong><%=review.course%> <span class="ml-2"><strong>yazar: </strong></span><%=review.author%></span>

                          </div>
                        </div>
                      </div>
                      <%}%>
                      <%});%>



                    </div>
                  </div>
                </div>
                <%}%>

</section>

<div class="container-fluid bg-light py-3">
  <div class="row">
    <div class="col-12">
        <h2>verdiği dersler:</h2>
    </div>
  </div>


  <div class="row">

    <%instructor.courses.forEach(function(course) {%>
                <div class="col-lg-2 col-4">
                  <div class="card course-card text-center mt-3">
                    <div class="card-body">
                      <h5 class="m-0 course-title"><a href="/courses/<%=course.title+course.code%>">
                          <%=course.title + course.code%>
                        </a></h5>
                    </div>
                  </div>
                </div>
                <%});%>




  </div>
</div>
</div>







          <%- include('partials/footer') %>
