<%- include('partials/header') %>
<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="/"><img src="/images/owl.png" alt="icon-img"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto mr-3">
    </ul>

    <form action="/index" method="get" class="form-inline navbar-search">
      <input class="form-control mr-sm-2" type="search" name="search" placeholder="ee202..." autocomplete="off">
      <button class="btn btn-outline-light my-2 my-sm-0" name="page" value=1 type="submit">ara</button>
    </form>
    <%if(isAuth) {%>
      <form action="/logout" method="post" class="form-inline ml-3">
        <button type="submit" class="btn btn-outline-dark">çıkış</button>
      </form>
    <%}%>
  </div>
</nav>

<section id="rate-section" class="container-fluid p-3">
  <div class="container-fluid bg-light p-3">
    <h1><%=instructor.name%></h1>
    <hr>
    <form action="/rate" method="post">

      <div class="row">
        <div class="col-lg-3 col-md-12">
          <div class="form-group">
            <label for="formControlRange">ders anlatımı</label>
            <input type="range" name="lecturingValue" min="0" max="100" class="form-control-range" id="formControlRange">
          </div>
        </div>
        <div class="col-lg-3 col-md-12">
          <div class="form-group">
            <label for="formControlRange">öğrenciyle iletişim</label>
            <input type="range" name="studentRelValue" min="0" max="100" class="form-control-range" id="formControlRange">
          </div>
        </div>
        <div class="col-lg-3 col-md-12">
          <div class="form-group">
            <label for="formControlRange">sınav zorluğu</label>
            <input type="range" name="difficultyValue" min="0" max="100" class="form-control-range" id="formControlRange">
          </div>
        </div>
        <div class="col-lg-3 col-md-12">
          <div class="form-group">
            <label for="formControlRange">notlandırma</label>
            <input type="range" name="gradingValue" min="0" max="100" class="form-control-range" id="formControlRange">
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="formGroupExampleInput">kısa bir değerlendirme:</label>
            <input name="reviewTitle" type="text" class="form-control" id="formGroupExampleInput" placeholder="başlık" autocomplete="off" required>
            <textarea name="reviewText" class="form-control mt-1" id="rating-textarea" rows="3" placeholder="değerlendirme" autocomplete="off" required></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="attendance" id="attendanceRadio1" value=1 checked>
            <label class="form-check-label" for="attendanceRadio1">
              yoklama alıyor
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="attendance" id="attendanceRadio2" value=0>
            <label class="form-check-label" for="attendanceRadio2">
              yoklama almıyor
            </label>
          </div>
        </div>
      </div>
      <br>
      <button type="submit" name="instructor" value="<%=instructor.name%>" class="btn btn-success btn-rate">gönder</button>
      <a href="/instructors/<%=instructor.name%>" class="btn btn-danger btn-rate">iptal</a>
    </form>
  </div>
</section>





<%- include('partials/footer') %>
